.footer-segment {
    background-color: #175b5a !important;
    color: white !important;
    padding: 10px;
}

.footer-segment .header {
    font-size: 1.2em !important;
    margin-bottom: 0.5em !important;
}

.footer-segment .list a {
    color: white !important;
    font-size: 1em !important;
    line-height: 1.5 !important;
}

.footer-segment .list .item {
    margin: 0.5em 0 !important; /* 增加上下边距 */
}

.footer-segment .list .horizontal-list a {
    color: white !important;
    margin: 0 1em !important;
    font-size: 0.9em !important;
}

.footer-segment .ui.divided.list .item:after {
    display: none !important;
}

.footer-segment .ui.horizontal.divided.list .item:after {
    background: white !important;
}

.footer-segment .ui.horizontal.divided.list {
    padding-top: 1em !important;
}

.footer-segment .list .item .icon {
    margin-right: 0.5em !important;
}
